*
{
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

body
{
    margin: 0;
    line-height: 1.5;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

p
{
	text-rendering: optimizeLegibility;
    color: #4b5457;
}

b, h1, h2, strong
{
	font-weight: 500;
}

ul
{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6
{
	font-style: normal;
    color: #3d464a;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4
}

a
{
	background-color: transparent;
    color: #2199e8;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

img
{
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
}

.row
{
    max-width: 78.75rem;
    margin-left: auto;
    margin-right: auto
}

.clear
{
	clear: both;
}

.submenu
{
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 4.5rem;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .28);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 278px
}

.linkWithSubmenu:hover .submenu
{
    opacity: 1;
    visibility: visible;
    top: 3.5rem;
}

.submenuLink:hover
{
    background: #f5f8fc;
}

.playButton
{
    height: 72px;
    width: 72px;
    border: 2px solid rgba(255, 255, 255, .95);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 50%;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    display: block
}

.playButton.small
{
    bottom: 5.66%;
    right: 5.66%;
    position: absolute;
    height: 56px;
    width: 56px;
    transition: all .3s ease;
    border: 2px solid rgba(255, 255, 255, .7)
}

.leftOffset
{
    margin-left: 7.14%;
    margin-right: 0;
}

.reveal
{
    z-index: 1006;
    padding: 1rem;
    border: 1px solid #cacaca;
    background-color: #fff;
    border-radius: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    position: relative;
    margin-top: 6.25rem
}

.reveal-overlay
{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1005;
    background-color: rgba(51, 51, 51, .83);
    overflow-y: hidden;
    cursor: pointer
}

.reveal.small
{
    width: 50%;
    max-width: 78.75rem;
}

.video_without_background
{
    background: 0 0;
    border: none;
    padding-top: 30px;
    outline: 0;
}

.video_without_background .close-button
{
    top: 0;
    color: #fff;
    opacity: .6;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.close-button
{
    position: absolute;
    color: #4b5457;
    right: 1rem;
    top: .5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer
}

.close-button:hover
{
    opacity: .9;
}

.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none
}

.flex-video
{
    position: relative;
    height: 0;
    padding-bottom: 75%;
    margin-bottom: 1rem;
    overflow: hidden
}

.flex-video.widescreen
{
    padding-bottom: 56.25%;
}

.button
{
	display: inline-block;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
    transition: background-color .25s ease-out, color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    background-color: #2199e8;
    color: #fff;
    margin-right: 1rem;
}

.header
{
    position: fixed;
    padding: 0 3%;
    padding-top: .5rem;
    width: 100%;
    min-width: 290px;
    background-color: #fff;
    z-index: 999;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.headroom--unpinned
{
    top: -100px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.headroom--pinned
{
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.headroom--not-top
{
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px 0px, rgba(255, 255, 255, 0.2) 0px -1px 1px 0px inset;
}

.logo
{
    color: #4b5457;
	float: left;
    margin-top: 10px;
    line-height: initial;
}

.logoTitle
{
    color: #4b5457;
    margin-top: 5px;
    font-size: 1.125rem;
    font-weight: 500;
    width: 310px;
    float: left;
    margin-left: 7px;
}

.logoTitleSpan
{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: initial;
}

.logoSubTitle.small
{
    font-size: 12px;
    width: 180px;
    line-height: 16px;
}

.logoTitleSpan.small, .logoSubTitle.small
{
    display: none;
}

.logoSubTitle
{
    font-size: .875rem;
    color: #4b5457;
    line-height: 1.25rem;
    display: block;
}

.logoImg
{
	display: inline-block;
    float: left;
	height: 48px;
	width: 50px;
    color: #4b5457;
}

.menuContainer
{
	float: right;
}

.smallMenu
{
    float: right;
    display: none;
    margin-top: 22px;
    margin-left: 15px;
}

.smallMenuTitle
{
    font-size: 14px;
    color: #4b5457;
}

.hamburger
{
    height: 35px;
    float: right;
    padding-right: 10px
}

.menu li
{
    display: inline-block;
	position: relative;
}

.linkWithSubmenu
{
    display: inline-block;
}

.submenuLink
{
    padding: 1rem 1.375rem;
    text-align: left;
    margin: 0;
    display: block;
    width: 278px;
    line-height: 28px;
    color: #4b5457;
}

.headerMenuLink
{
    display: inline-block;
    color: #4b5457;
    padding: .625rem 0;
    margin: 1rem 0 1rem 1.125rem;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 16px;
}

.headerMenuLink:hover
{
    border-bottom: 1px solid #4b5457;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.arrowDown
{
    height: 9.5px;
    width: 9.5px;
    margin-left: 6px
}

.arrowDown:hover
{
    cursor: pointer;
}

.phoneNumber
{
    background: #f0f1f3;
    padding: .375rem 1rem;
    border-radius: 4px;
    margin-left: 1.5rem;
}


/* main part */
.block
{
	min-width: 300px;
    max-width: 1320px;
    margin: 0 auto;
}

.aboutUs
{
	padding-top: 11.125rem;
    padding-bottom: 65px;
}

.aboutUsRightSide
{
	float: right;
	padding-left: .9375rem;
    padding-right: .9375rem
}

.aboutUsRightSide.map
{
	margin-right: 6.25%;
}

.aboutUsTitle
{
	font-size: 3.125rem;
    line-height: 3.625rem;
}

.aboutUsSubtitle
{
	color: #707580;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400
}

blockquote
{
	margin: 0 0 2.625rem;
    padding: 0 1.25rem 0 1.75rem;
    border-left: 2px solid #fdbd57;
    line-height: 1.75;
    color: #4b5457
}

blockquote > ul > li
{
	line-height: 1.5rem;
    margin-bottom: .5rem;
    font-size: 1.0625rem
}

.videoWrapper
{
    margin-left: 1rem;
    position: relative;
    float: left;
}

.video > img
{
	border-radius: 4px;
	max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
}

.video:hover + .playButton 
{
    background: rgba(0, 0, 0, .675);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    cursor: pointer;
}

.playButton:hover
{
    background: rgba(0, 0, 0, .675);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
    cursor: pointer;
}

.sendRequest
{
	border: 2px solid #e04d47;
    color: #e04d47;
    padding: 1.1875rem 1.8125rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 28px;
    background-color: transparent;
    margin-right: 1rem;
}

.button:hover
{
    background-color: #e04d47;
    color: #fff;	
}

.phone
{
	margin-left: .375rem;
    padding-top: .5rem;
    vertical-align: top;
    display: inline-block;
}

.phone > p
{
	margin: 0;
    font-size: 1.0625rem;
	line-height: 1.4rem;
    font-weight: 500;
    color: #3d464a;
    font-style: italic
}

.phoneNumberText
{
    color: #4b5457;
}

.phoneNumberIcon
{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url(../img/icon_sprites.png) -36px -351px;
    margin-top: 2px;
    margin-right: 6px;
}

.playButton
{
	height: 72px;
    width: 72px;
    bottom: 5.66%;
    right: 5.66%;
    transition: all .3s ease;
    border: 2px solid rgba(255, 255, 255, .95)
}

.coursesPreviewWrapper
{
    padding: 2.625rem 0;
    border-top: 1px solid #e5e5ea
}

.coursesPreviewWrapper  > h2
{
    text-transform: uppercase;
    text-align: center;
    font-size: .875rem;
    color: #7c8595;
    margin-bottom: 1.875rem
}

.coursePreviewContainer, .coursePreviewPictureContainer
{
    position: relative;	
}

.coursePreviewLink
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1
}

.coursePreviewPicrture
{
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 4px;
    margin-bottom: .75rem;
}

.eventPreviewOverlay
{
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: 0;
    text-align: center;
    width: 100%
}

.eventPreviewIcon
{
    height: 40px;
    width: 40px;
    display: inline-block
}

.previewDate
{
    color: #fff;
    font-size: 13px;
    bottom: 26px;
    left: 0;
    opacity: .73
}

.coursePreviewText
{
    font-size: .9375rem;
    color: #4b5457;
    line-height: 1.35;
    text-decoration: underline;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility
}

.coursePreviewLink:hover ~ .coursePreviewText
{
    text-decoration: none;
}

.carouselItem
{
	width: 100%;
	border-radius: .25rem;
    font-size: 1rem;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
}

.educationProgramms
{
    background-color: #f5f8fc;
    padding-bottom: 76px;
}

.educationProgrammsLeftSide
{
    padding-top: 3.75rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}

.ips-logo
{
    width: 58px;
    height: 58px;
    margin: 13px 0 21px;
    display: block;
    background: #fff;
    border-radius: 50%;
    padding: 12px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .25);
    color: #4b5457;
}

.ips-logo-round-svg
{
    width: 34px;
    height: 34px;
}

.educationProgrammsTitle
{
    line-height: 1.25;
    margin-bottom: 1rem;
}

.educationProgrammsDescription
{
    font-size: 1.0625rem;
    line-height: 1.75;
    margin-bottom: 60px;
    text-rendering: optimizeLegibility
}

.educationProgrammsRightSide
{
    padding-top: 3.75rem;
    float: left;
    margin-left: 6rem
}

.educationProgramCardContainer > h3
{
    font-size: 1.375rem;
    margin-bottom: 1.875rem;
    font-weight: 500;
    margin-right: 10px;
}

.educationQualificationTitle
{
    display: block;
    color: #4b5457;
    border-top: 1px solid #e8eaeb;
    border-width: 1px;
    width: 112px;
    padding-top: 20px;
    font-size: 1.0625rem;
}

.educationQualification
{
    display: block;
    color: #4b5457;
    font-weight: 500;
    font-size: 1.0625rem;
    margin-bottom: 130px;
}

.educationProgrammDeatilsLink
{
    display: block;
    font-size: 1.0625rem;
    text-decoration: none;
    color: #707580;
}

.educationProgrammDeatilsLink:after
{
    content: '\2192';
    display: inline-block;
    margin-left: .3rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.educationProgramCardFront:hover + .educationProgrammDeatilsLink:after
{
    -webkit-transform: translateX(40%);
    transform: translateX(40%)
}

.redLineVertical
{
    width: 4px;
    height: 65px;
    position: absolute;
    top: 45px;
    left: -1px;
    background: #e04d47;
    border-radius: 0 4px 4px 0
}

.educationProgramCardFront
{
    position: absolute;
    border-radius: 4px;
    padding: 40px;
    z-index: 900;
    top: 70px;
    left: -10px;
}

.educationProgramCardBack
{
    margin-top: 30px;
    margin-left: 40px;
    width: 360px;
    height: 421px;
    display: block;
    z-index: 700;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 7px rgba(46, 61, 73, .1);
    right: 170px;
    cursor: initial;
}

.teachers
{
    padding: 65px 0;
}

.personImg.teacher
{
    margin-bottom: 32px;
}

.teachersBlockText
{
    margin-bottom: 50px;
}

.teachersBlockDescription
{
    font-size: 1.0625rem;
    line-height: 29px;
}

.person
{
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 3.125rem;
    padding: 0 .9375rem;
    text-align: left;
    vertical-align: top;
    position: relative;
}

.personDescription
{
    max-width: 240px;
}

.personImg
{
    border-radius: 4px;
}

.personImg:hover + .playButton.small
{
    background: rgba(0, 0, 0, .675);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);    
    cursor: pointer;
}

.playButton.small:hover
{
    background: rgba(0, 0, 0, .675);
    -webkit-transform: scale(1.075);
    transform: scale(1.075);    
    cursor: pointer;
}

.personName
{
    display: block;
    line-height: 25px;
    color: #3d464a;
    font-size: 22px;
    font-weight: 500;
}

.personPosition
{
    display: block;
    color: #e04d47;
    line-height: 25px;
    font-size: 17px;
    margin-bottom: .85rem;
}

.personProfileLink
{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.personProfileLink.student
{
	display: initial;
    position: static;
}

.sendRequest.center
{
    margin: 0 auto;
    text-align: center;
    display: table;
}

.studentImgContainer
{
    position: relative;
    float: left;
    margin-bottom: 32px
}

.studentsBlockText
{
    margin-bottom: 50px;
}

.studentsBlockDescription
{
    font-size: 1.0625rem;
    line-height: 29px;
}

.studentDescription
{
    float: left;
}

.students
{
    border-top: 1px solid #e5e5ea;
    padding: 65px 0;
}

.studentsContainer
{
    margin-left: 5.25%;
}

.personDescription.student
{
    font-style: italic;
}

.person.student
{
    margin-bottom: 50px;
    width: 28.5%;
}

.secondLine
{
    display: none;
}

.firstLine
{
    display: inline-block;
}

.companies
{
    border-top: 1px solid #e5e5ea;
    padding: 65px 0;
}

.companiesBlockText
{
    margin-bottom: 50px;
}

.companiesBlockDescription
{
    font-size: 1.0625rem;
    line-height: 29px;
}

.companyItem
{
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 7px rgba(46, 61, 73, .1);
    background: #fff;
    border: 1px solid #e6e8ea;
    padding: 50px 32px;
}

.companyDescription
{
    height: 140px;
    font-size: 16px;
    margin-bottom: 24px;
    width: 204px;
    float: left;
    line-height: 28px;
}

.companyImage
{
    margin-bottom: 17px;
}

.companyLink
{
	display: block;
}

.companyLink:after
{
    content: '\2192';
    display: inline-block;
    margin-left: .3rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.companyLink:hover:after
{
    -webkit-transform: translateX(40%);
    transform: translateX(40%)
}


.contacts
{
    border-top: 1px solid #e5e5ea;
    padding-top: 65px;
    padding-bottom: 110px;
}

.contactsIpsTitle
{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
}

.contactsBlockText
{
    margin-bottom: 50px;
}

.contactsBlockDescription
{
    font-size: 1.0625rem;
    line-height: 29px;
    margin-bottom: 50px;
}

.redLine
{
    width: 100px; 
    height: 2px; 
    background-color: #e04d47; 
    border: none; 
    margin-bottom: 14px;
}

.footer
{
    border-top: 1px solid #e8eaeb;
}

.footerText
{
    display: block;
    text-align: center;
    margin: 35px auto;
    font-size: 16px;
    line-height: 1.75;
    color: #4b5457;
}

    .educationProgramCard
    {
        float: left;
        position: relative;
        padding: 2.5rem;
        background-color: #fff;
        box-shadow: 0 1px 7px rgba(46, 61, 73, .1);
    }

    .educationProgramCardFront
    {
        display: block;
        top: 0;
        height: 100%;
        position: absolute;
        left: 0;
        width: 100%;
    }

@media screen and (max-width: 35em)
{
    .logoTitle
    {
        width: auto;
    }

    .logoTitleSpan.small
    {
        display: initial;
    }

    .logoSubTitle.small
    {
        display: block;
    }

    .logoTitleSpan, .logoSubTitle
    {
        display: none;
    }
}

@media screen and (max-width: 26em)
{
    .logoSubTitle.small
    {
        display: none;
    }  

    .logoTitleSpan.small
    {
        display: block;
        margin-top: 8px;
    }  

    .contactsBlockText 
    {
        margin-bottom: 0;
    }

    .sendRequest.allProgramms
    {
    	margin: 0 1rem 0 0;
    	padding: 1rem 3.25rem 1rem 3.25rem; 
    }
}

@media screen and (max-width: 40em) 
{
	.person.student
	{
		width: auto;
	}

	.aboutUsRightSide.map
    {
        margin-right: 0;
        margin-top: 42px;
    }

    .leftOffset
    {
        margin-left: 0;
    } 

    .owl-loaded .carouselItem
    {
        width: 80%;
        margin-left: 10%;
    }

    .videoWrapper
    {
        margin-top: 25px;
    }
}

@media screen and (min-width: 40em) 
{
    h1
    {
    	font-size: 2.375rem;
    }

    h2
    {
        font-size: 2.3125rem;
    }

    .coursesPreviewWrapper
    {
    	margin-left: 6.25%;
        margin-right: 6.25%;
    }
}

@media screen and (max-width: 64em)
{

    .sendRequest
    {
        padding: 1rem;
    }

    .aboutUs
    {
        padding-top: 7.125rem;
    }

    .students, .teachers, .companies, .contacts
    {
        padding-top: 32px;
        padding-bottom: 60px;
    }

    .videoWrapper
    {
        margin-top: 42px;
        margin-left: 0;
    }

    .educationProgrammsRightSide
    {
        max-width: 25em;
        margin-left: 0;
    }

    .educationProgramCardBack
    {
        display: none;
    }

    .aboutUsTitle
    {
        font-size: 34px;
        line-height: 42px;
    }

    .educationProgrammsTitle  
    {
        font-size: 1.5rem;
    }

    .aboutUsSubtitle
    {
        font-size: 20px;
    }

    .leftOffset
    {
    	margin-left: 0;
    }

    .person.student
    {
    	width: 33.3%;
    }
}

@media screen and (min-width: 64em) 
{
	.aboutUsSubtitle
	{
		width: 75%;
	}

	.aboutUsRightSide
	{
		width: 43.75%;
		margin-left: 0
	}

    .educationProgrammsRightSide
    {
        max-width: 25rem;
    }  

    .person
    {
        width: 22%;
    }  
}

@media screen and (max-width: 73.75em)
{
    .menuContainer
    {
        float: none;
    }

    .menu
    {
        display: none;
        height: 100vh;
        padding-top: 2rem;
        width: 100%;
        overflow-y: hidden;
    }

    .menu li
    {
    	text-align: center;
    	display: block;
    }

    .phoneNumber
    {
    	background: none;
        margin: 0px auto;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(232, 234, 235);
        width: 200px;
        padding-top: 25px;
    }

    .linkWithSubmenu:hover .submenu
    {
    	opacity: 0;
    	visibility: hidden;
    }

    .arrowDown
    {
    	display: none;
    }
    
    .logo
    {
        margin-bottom: 10px;
    }

    .smallMenu
    {
        display: block;
        cursor: pointer;
    }

    .linkWithSubmenu:hover .submenu
    {
    	opacity: 0;
    	visibility: hidden;
    }

    .headerMenuLink
    {
    	margin: 0;
    	padding:  1.5rem .625rem;
    }

    .headerMenuLink:hover
    {
    	border-bottom: none;
    	color: #000;
    }
}

@media screen and (min-width: 73.75em)
{

}